<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Menu List</title>
    <!-- 부트스트랩 CSS 링크 추가 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- CSS 파일 -->
    <!--static 폴더가 root임!!-->
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
<div class="container mt-4">
	<div class="tab-container mb-5">
	    <div class="tab active" onclick="openTab(event)" id="all">All</div>
	    <div class="tab" onclick="openTab(event)" id="caffeine">Caffeine</div>
	    <div class="tab" onclick="openTab(event)" id="nonCaffeine">Decaf</div>
	    <div class="tab" onclick="openTab(event)" id="dessert">Dessert</div>
	</div>
	
    <div class="row" id="menu-content-wrapper">
        <!-- 카드 컴포넌트를 이용한 menu 목록 -->
        <div th:each="menuList : ${menuList}" class="col-md-3 mb-4">
            <div class="card">
                <img th:src="${menuList.menu_img}" class="card-img-top" th:alt="${menuList.menu_id_pk}">
                <div class="card-body">
                    <!--<div class="card-title" th:text="${menuList.menu_name}">Name</div>-->
                    <!--<p class="card-text" th:text="${menuList.menu_info}"></p>-->
                    <!--<p class="card-text" th:text="${menuList.menu_id_pk}"></p>-->
                    <!--1) button 클릭 시 menu_id 같은 pk 넘기려면 th:attr 이용 => addCartBtn 함수에서 getAttribute로 받음-->
                    <!--2) 아니면 그냥 파라미터에 menu_id를 넣으면 됨 => th:onclick 사용해야-->
                    <!--<button type="button" class="btn btn-primary" 
                    	onclick="addCartBtn(this)" th:attr="menu_id=${menuList.menu_id_pk}">Add to Cart</button>-->
                	<button type="button" class="btn btn-secondary" 
                    	th:onclick="'addCartBtn(\' ' + ${menuList.menu_id_pk} + ' \')'">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mt-5 mb-5" style="text-align: center; font-size: 2.5rem;">List</div> 
    <div id="cart-list-main">
		
	</div>
</div>

<!-- 부트스트랩 스크립트 추가 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<!--외부 script-->
<script src="/js/main-cart-script.js"></script>
</body>
</html>
